<div id="ThreeJS-potential" style="display: inline-block"></div>
<p width="50%" style="text-align: left">
    <b>Above:</b>
    An interactive 3D surface plot of the potential field
    as seen by the racecar as it moves through a track. The
    height of the surface shows the magnitude of the potential
    at that point. The racecar's position on the surface is
    shown by the ball in the center. The green arrow shows the
    direction and magnitude of the \(x\) gradient; the yellow arrow
    shows that of the \(y\) gradient. Note how the \(x\) gradient points
    away from the side with the most potential nearby. Similarly, the
    \(y\) gradient's magnitude decreases when approached by large potential
    from the front.
</p>
