.cvpipeline-container {
    width: 100%;
}

.cvpipeline-list {
    list-style-type: none;
}

.cvpipeline-list li {
    padding: 10px;
    border-radius: 5px;
    background-color: #eee;
    margin-bottom: 5px;
}

.cvpipeline-list a {
    text-decoration: none;
    color: inherit;
}

.cvpipeline-list a:hover {
    color: #2a7ae2;
}

.cvpipeline-list a.active {
    color: white;
}

.cvpipeline-list a.active li {
    background-color: #2a7ae2;
}

.cv-video-hidden {
    width: 0 !important;
}

.cv-video-hidden video {
    display: none;
}

.cvpipeline-videos {
    position: relative;
}

.cvpipeline-videos div {
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    border-right: 2px solid red;
}

.cvpipeline-videos div video {
    width: 600px;
}
